<table class="table table-bordered">
<tr class="row">
	<td class="col-sm-2">
   		<strong>Title:</strong>
   </td>
   <td class="col-sm-10">
  		<%= @note.title %>
   </td>
</tr>
<tr class="row">
	<td class="col-sm-2">
   		<strong>Body:</strong>
   </td>
   <td class="col-sm-10">
  		<%= @note.body %>
   </td>
</tr>
<tr class="row">
	<td class="col-sm-2">
   		<strong>Tags:</strong>
   </td>
   <td class="col-sm-10">
  		<%= @note.tags %>
   </td>
</tr>
</table>